<div class="social">
  <ul>
    <li>
      {% include link-new-tab.html label = 'LinkedIn' href=site.link_linkedin %}
    </li>
    <li>
      {% include link-new-tab.html label = 'GitHub' href=site.link_github %}
    </li>
    <li>{% include link-new-tab.html label = 'CodePen' href=site.link_codepen %}</li>
    <li>{% include link-new-tab.html label = 'Medium' href=site.link_medium %}</li>
    <li>
      {% include link-new-tab.html label = 'Mastodon' href=site.link_mastodon %}
    </li>
  </ul>
</div>