<div class="social">
  <ul>
    <li>
      {% include link-new-tab.html label = "LinkedIn" href = "https://www.linkedin.com/in/sebelyea" %}
    </li>
    <li>
      {% include link-new-tab.html label = "GitHub" href = "https://github.com/stephenbelyea" %}
    </li>
    <li>{% include link-new-tab.html label = "CodePen" href = "https://codepen.io/belwerks/" %}</li>
    <li>{% include link-new-tab.html label = "Medium" href = "https://medium.com/@belwerks" %}</li>
    <li>
      {% include link-new-tab.html label = "Mastodon" href = "https://a11y.info/@belwerks" %}
    </li>
  </ul>
</div>