html {
  font-size: 100%;
}

.wrapper {
  display: grid;
  gap: 6rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "side main"
    "foot foot";
  min-height: 100vh;
  width: 92vw;
  max-width: 50rem;
  margin: 5rem auto 0.5rem;

  >aside {
    grid-area: side;
  }

  >main {
    grid-area: main;
  }

  >footer {
    grid-area: foot;
  }

  img {
    max-width: 100%;
  }

  p > img, figure > img {
    border-radius: 0.5rem;
  }

  iframe {
    margin: 1.75rem 0;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 92.5%;
  }

  .wrapper {
    gap: 2.5rem;
    width: 94vw;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 95%;
  }

  .wrapper {
    display: block;
    margin-top: 1.5rem;
    width: 88vw;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 92.5%;
  }

  .wrapper {
    width: 85vw;
  }
}