.wrapper {
  display: grid;
  gap: 3rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "side main"
    "foot foot";
  min-height: 100vh;
  width: 95vw;
  max-width: 46rem;
  margin: 0 auto;

  >aside {
    grid-area: side;
  }

  >main {
    grid-area: main;
  }

  >footer {
    grid-area: foot;
  }
}