:root {
  --font-weight-body: 300;
  --font-weight-bold: 600;
  --font-weight-heading: 600;
  --font-weight-heading-alt: 500;

  --font-family-body: 'Noto Serif', serif;
  --font-family-heading: 'Noto Sans', sans-serif;

  --font-size-sm: 0.875em;
  --font-size-base: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2rem;
  --font-size-mega: 2.75rem;

  --colour-body: #3f3636;
  --colour-link: #cf1020;
  --colour-link-focus: rgb(114, 79, 79);
  --colour-link-focus-ring: rgba(114, 79, 79, 0.8);

  --timing: 100ms;
}

body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-base);
  color: var(--colour-body);
  line-height: 2;
}

a,
.alt-colour {
  color: var(--colour-link);
}

a {
  transition: color var(--timing), outline var(--timing), box-shadow var(--timing);
  box-shadow: 0 0.1em 0 0 var(--colour-link);
  outline: solid transparent 0.15em;
  outline-offset: 0.35em;
  text-decoration: none;

  &:hover {
    color: var(--colour-link-focus);
    box-shadow: 0 0.175em 0 0 var(--colour-link-focus);
  }

  &:focus {
    color: var(--colour-link-focus);
    outline-color: var(--colour-link-focus-ring);
    box-shadow: 0 0 0 0 transparent;
  }
}

strong,
.bold,
main a,
footer a {
  font-weight: var(--font-weight-bold);
}

footer p,
.small,
small {
  font-size: var(--font-size-sm);
}

.break {
  display: block;
}

.alt-font {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

.mega {
  font-size: var(--font-size-mega);
}

h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
}

h1 {
  font-size: var(--font-size-xxl);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  margin: 0 0 1em;
}

h2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-alt);
  margin: 1.375em 0 1em;
}

h3 {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  margin: 1.5em 0 1em;
}

h4 {
  font-size: var(--font-size-md);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-alt);
  margin: 1.5em 0 1em;
}

h5 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  margin: 1.35em 0 1em;
}

h6 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin: 1.25em 0 1em;
}

p {
  margin: 1em 0;
}