:root {
  --font-weight-body: 300;
  --font-weight-bold: 600;
  --font-weight-heading: 600;
  --font-weight-heading-alt: 500;

  --font-family-body: 'Noto Serif', serif;
  --font-family-heading: 'Noto Sans', sans-serif;

  --colour-body: #3f3636;
  --colour-link: #cf1020;
  --colour-link-focus: rgb(114, 79, 79);
  --colour-link-focus-ring: rgba(114, 79, 79, 0.8);

  --timing: 100ms;
}

body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: 100%;
  line-height: 2;
  color: var(--colour-body);
}

a,
.alt-colour {
  color: var(--colour-link);
}

strong,
.bold,
main a,
footer a {
  font-weight: var(--font-weight-bold);
}

footer p,
.small,
small {
  font-size: 0.875rem;
}

main p {
  margin: 1em 0 1.5em;
}

h2,
h4,
h6,
.alt-font {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

h1,
h3,
h5 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-alt);
}

h1 {
  margin: 0 0 1em;
}

h2,
h3 {
  margin: 1.5em 0 1.35em;
}

h4,
h5,
h6 {
  margin: 1.25em 0;
}

a {
  transition: color var(--timing), outline var(--timing);
  outline: solid transparent 0.15em;
  outline-offset: 0.35em;

  &:focus,
  &:hover {
    color: var(--colour-link-focus);
  }

  &:focus {
    outline-color: var(--colour-link-focus-ring);
  }
}