:root {
  --font-weight-body: 300;
  --font-weight-bold: 600;
  --font-weight-heading: 600;
  --font-weight-heading-alt: 500;

  --font-family-body: "Noto Serif", serif;
  --font-family-heading: "Noto Sans", sans-serif;

  --font-size-sm: 0.875em;
  --font-size-base: 1rem;
  --font-size-md: 1.15em;
  --font-size-lg: 1.45em;
  --font-size-xl: 1.75em;
  --font-size-xxl: 2.25em;
  --font-size-mega: 2.85em;

  --colour-body: #3f3636;
  --colour-body-alt: #6c0d15;
  --colour-link: #cf1020;
  --colour-link-focus: rgb(114, 79, 79);
  --colour-link-focus-ring: rgba(114, 79, 79, 0.8);
  --colour-border: rgb(230, 219, 219);

  --timing: 100ms;
}

body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-base);
  color: var(--colour-body);
  line-height: 2;
}

a,
.alt-colour {
  color: var(--colour-link);
}

a {
  transition: color var(--timing), outline var(--timing),
    box-shadow var(--timing);
  box-shadow: 0 0.1em 0 0 var(--colour-link);
  outline: solid transparent 0.15em;
  outline-offset: 0.35em;
  text-decoration: none;

  &:hover {
    color: var(--colour-link-focus);
    box-shadow: 0 0.175em 0 0 var(--colour-link-focus);
  }

  &:focus {
    color: var(--colour-link-focus);
    outline-color: var(--colour-link-focus-ring);
    box-shadow: 0 0 0 0 transparent;
  }
}

strong,
.bold,
main a,
footer a {
  font-weight: var(--font-weight-bold);
}

footer p,
.small,
small,
figcaption {
  font-size: var(--font-size-sm);
}

.break {
  display: block;
}

.alt-font {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

.mega {
  font-size: var(--font-size-mega);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
}

h1 {
  font-size: var(--font-size-xxl);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  margin: 0 0 1em;
  line-height: 1.35;
}

h2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-alt);
  color: var(--colour-body-alt);
  margin: 1.5em 0 1em;
  line-height: 1.5;
}

h3 {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  margin: 1.75em 0 1em;
  line-height: 1.65;

  > em {
    color: var(--colour-body-alt);
    text-transform: uppercase;
    font-size: 0.85em;
    display: block;
  }
}

h4 {
  font-size: var(--font-size-md);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading-alt);
  margin: 1.5em 0 1em;
  line-height: 1.75;
}

h5 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  margin: 1.35em 0 1em;
}

h6 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin: 1.25em 0 1em;
}

p {
  margin: 1em 0;
}

p > img,
figure {
  margin: 2rem 0;
}

.post-meta {
  font-family: var(--font-family-heading);
  font-weight: var(--font-family-heading-alt);
  margin: -0.5rem 0 2.5rem;
}

figure > figcaption {
  margin-top: 1rem;
  padding: 0 1rem;
  line-height: 1.75;
}

blockquote {
  font-size: var(--font-size-md);
  color: var(--colour-body-alt);
  font-style: italic;
  line-height: 1.85;
  padding: 0.1rem 1rem 0.1rem 2rem;
  margin: 1.5rem 0 1.75rem;
  border-left: solid 0.25rem var(--colour-border);

  p:only-child,
  p:first-child {
    margin-top: 0;
  }

  p:only-child,
  p:last-child {
    margin-bottom: 0.5rem;
  }
}

hr {
  margin: 3rem 0;
  border: none;
  border-bottom: solid 0.15rem var(--colour-border);
}

@media screen and (max-width: 550px) {
  :root {
    --font-size-base: 1.125rem;
    --font-size-lg: 1.25em;
    --font-size-xl: 1.5em;
    --font-size-xxl: 1.75em;
    --font-size-mega: 2.25em;
  }
}
